//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 07 16:04:37 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Z<0>" LOCATE = SITE "P40" LEVEL 1;
COMP "Z<1>" LOCATE = SITE "P35" LEVEL 1;
COMP "Z<2>" LOCATE = SITE "P32" LEVEL 1;
COMP "Z<3>" LOCATE = SITE "P30" LEVEL 1;
COMP "Z<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "Z<5>" LOCATE = SITE "P25" LEVEL 1;
COMP "Z<6>" LOCATE = SITE "P23" LEVEL 1;
COMP "digi<0>" LOCATE = SITE "P31" LEVEL 1;
COMP "digi<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "digi<2>" LOCATE = SITE "P36" LEVEL 1;
COMP "digi<3>" LOCATE = SITE "P41" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "P52" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "P53" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "P55" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "DIP<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "DIP<5>" LOCATE = SITE "P60" LEVEL 1;
COMP "DIP<6>" LOCATE = SITE "P63" LEVEL 1;
COMP "DIP<7>" LOCATE = SITE "P68" LEVEL 1;
COMP "BS1" LOCATE = SITE "P44" LEVEL 1;
PIN BS1_pin<0> = BEL "BS1" PINNAME PAD;
PIN "BS1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BS2" LOCATE = SITE "P46" LEVEL 1;
PIN BS2_pin<0> = BEL "BS2" PINNAME PAD;
PIN "BS2_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BS3" LOCATE = SITE "P47" LEVEL 1;
PIN BS3_pin<0> = BEL "BS3" PINNAME PAD;
PIN "BS3_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BS4" LOCATE = SITE "P50" LEVEL 1;
PIN BS4_pin<0> = BEL "BS4" PINNAME PAD;
PIN "BS4_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "BS5" LOCATE = SITE "P51" LEVEL 1;
COMP "CLK" LOCATE = SITE "P127" LEVEL 1;
NET "BS1_BUFGP/IBUFG" BEL "BS1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

