//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 20 18:53:19 2017
//! **************************************************************************

SCHEMATIC START;
COMP "DipSW<2>" LOCATE = SITE "P60" LEVEL 1;
COMP "DipSW<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "DipSW<4>" LOCATE = SITE "P56" LEVEL 1;
COMP "DipSW<5>" LOCATE = SITE "P55" LEVEL 1;
COMP "DipSW<6>" LOCATE = SITE "P53" LEVEL 1;
COMP "DipSW<7>" LOCATE = SITE "P52" LEVEL 1;
COMP "SysRstB" LOCATE = SITE "P44" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P77" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P69" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P76" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P74" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P79" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P73" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P78" LEVEL 1;
COMP "SysClk" LOCATE = SITE "P127" LEVEL 1;
SCHEMATIC END;

